/* see. @vivliostyle/theme-techbook@2.0.0 */
:root {
  --vs-theme--anchor-color-body: #3498db;
  --vs-theme--blockquote-color-bg: #ecf0f1;
  --vs-theme--blockquote-color-body: #34495e;
  --vs-theme--inline-code-color-bg: #ecf0f1;
  --vs-theme--inline-code-color-body: #34495e;
  --vs-theme--footnote-color-bg-on-screen: #e6f6d7;
  --vs-theme--crossref-anchor-color-bg-on-screen: rgba(255, 0, 0, 0.3);
  --vs-theme--crossref-anchor-color-body-on-screen: #e74c3c;
  --vs-theme--image-resolution-for-figure-image: 300dpi;
  --vs-theme--page-top-left-content: env(pub-title);
  --vs-theme--page-top-right-content: env(doc-title);
  --vs-theme--page-bottom-content: counter(page);
}
